<h5>Player Name: <%=@player.name%></h5>
<h5>Player Rating: <%=@player.rating%></h5>
<h5>Player Position: <%=@player.position%></h5>
<%@player.users.map do |users|%>
<h5>Player Coach: <%=users.username%></h5>
<%end%>

