/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

 .nav-bar { 
    border: groove;
    background-image: linear-gradient(lightblue, rgb(191, 191, 221));
    color: red;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
 }

 :any-link {
     color: blue;
     font-family: 'Press Start 2P', cursive;
 }

 :any-link:hover { 
     color: red;
 }

tr {
    font-family: 'Press Start 2P', cursive;
 
}

th, td {
    border: 0.5px solid black;
    margin-top: 1px;
}

table {
    border: 0.5px solid black;
  }

h4 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    margin-left: 0.24em;
}

p {
    font-family: 'Press Start 2P', cursive;
}

form {
    font-family: 'Press Start 2P', cursive;
}

#position_table {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-left: 0.24em;
    text-align: center;
}

#user_table {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-left: 0.24em;
    text-align: center;
}

.logo_roster {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    text-align: center;
}

#standings {
    text-align: center;
    width: 1260px;
    margin-left: 0.24em;
}

#schedule {
    text-align: center;
    width: 1250px;
    margin-left: 0.24em;
}


#stansche {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: column;
    height: 750px;
    text-align: center;
}



